@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
    @apply bg-white text-slate-800 dark:bg-gray-950 dark:text-white text-sm font-poppins antialiased;
}

button {
    @apply cursor-pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

html, body {
  overflow-x: hidden;
}


/* hide the google translate top banner iframe that sometimes appears */
.goog-te-banner-frame.skiptranslate { display: none !important; }

/* remove any top offset applied by google widget */
body { top: 0 !important; }

/* hide google logo and link inside the widget (keeps only the select combo accessible) */
.goog-logo-link { display: none !important; }
.goog-te-gadget-icon { display: none !important; }

/* ensure the invisible (off-screen) select still exists and is usable */
.goog-te-combo { display: inline-block !important; }

/* if you want the internal injected iframe not to affect layout */
iframe.goog-te-banner-frame { display: none !important; }

/* Hide Google Translate top bar */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important; /* remove extra margin */
}
